# ====================================================================
# 1. CARPETAS DE COMPILACIÓN Y CACHÉ
# ====================================================================
bin/
obj/
out/
TestResults/

# ====================================================================
# 2. ARCHIVOS DEL IDE (Rider / Visual Studio)
# ====================================================================
.idea/
.vs/
*.user
*.suo
*.sln.docstates

# ====================================================================
# 3. EVIDENCIAS Y ARTEFACTOS DE PLAYWRIGHT
# ====================================================================
Reportes/
*.webm
*.har
*.log
*trace*.zip
*.txt
playwright-*.zip